@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Orbitron:wght@400..900&family=Playwrite+DE+Grund:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap");

body {
  padding: 0;
  margin: 0;
  /* background-image: url("./ocean.jpg"); */
  background-color: black;
  font-family: "Orbitron", serif;
}

.header {
  font-family: "Orbitron", serif;
  font-size: 3rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1rem solid steelblue;
  background-color: black;
  color: #00ff41;
  letter-spacing: 0.2rem;
}

.winnerBanner {
  display: none;
  text-align: center;
  background-image: linear-gradient(45deg, green, greenyellow);
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0.25s;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-rows: 1fr;
  margin: 5rem auto;
  padding: 0 5rem;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.boardOne .containerP1,
.boardTwo .containerP2 {
  display: grid;
  height: 36rem;
  width: 36rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: grey;
  justify-self: center;
}

.boardTwo .containerP2 {
  justify-self: end;
}

.boardOne .cell {
  display: grid;
  border: 1px solid black;
  position: relative;
}

.boardTwo .cell {
  display: grid;
  border: 1px solid navy;
  position: relative;
}

.BtnContainer {
  padding: 10rem 0;
}

.startBtn,
.replaytBtn {
  display: grid;
  justify-self: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #48453e;
  color: #00ff41;
  font-family: "Orbitron", serif;
}

.replaytBtn {
  display: none;
}

.highlight {
  background-color: rgba(12, 12, 108, 0.5);
}

.ship-image {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.ship-start {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(auto, 1fr);
  /* place-items: center; */
}

.shipContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  background-color: black;
}

.shipHeader {
  text-align: center;
  background-color: #0d0208;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: white;
}

.shipSubHeader {
  text-align: center;
  background-color: #0d0208;
  font-size: 0.8rem;
  color: yellowgreen;
}

.shipTiles {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 36rem;
  background-color: steelblue;
}

.shipName {
  text-align: center;
}

.ship {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 15rem;
  border: 1px solid white;
  box-sizing: border-box;
}

.noShipsLeft {
  text-align: center;
}

.vertical-img {
  transform: rotate(90deg);
}

.len5 {
  background-color: rgba(18, 176, 12, 0.5);
}

.len4 {
  background-color: rgba(215, 232, 32, 0.5);
}

.len3 {
  background-color: rgba(78, 27, 174, 0.5);
}

.len2 {
  background-color: rgba(19, 154, 181, 0.5);
}

.miss {
  background-color: rgba(233, 9, 9, 0.5);
}

#carrier img {
  width: 15rem;
}

#carrier {
  grid-column: 2/4;
}

#battleship img {
  width: 12rem;
}

#cruiser img {
  width: 9rem;
}

#submarine img {
  width: 9rem;
}

#destroyer img {
  width: 6rem;
}

.legend-box {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
  border: 1px solid black;
  background-color: #f9f9f9;
  background-color: #0d0208;
}

.legend-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  font-size: 1rem;
  color: white;
}

.legend-color {
  width: 1rem;
  height: 1rem;
}

.carrier-color {
  background-color: rgba(18, 176, 12, 0.8);
}

.battleship-color {
  background-color: rgba(215, 232, 32, 0.8);
}

.cruiser-color {
  background-color: rgba(78, 27, 174, 0.8);
}

.submarine-color {
  background-color: rgba(78, 27, 174, 0.8);
}

.destroyer-color {
  background-color: rgba(19, 154, 181, 0.8);
}
